* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.navbar {
  width: 100vw;
  padding: 5px;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.navLink:hover {
  cursor: pointer;
  color: blue;
}

ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: black;
  padding-right: 15px;
}